.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.layout__content {
  flex: 1;
  margin-left: 265px;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
}

.mainContent {
  padding: 13px;
  flex: 1;
}
